<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Not Found</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../static/css/bootstrap4-wizardry.css" th:href="@{/css/bootstrap4-wizardry.css}">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body class="nunito">
	<div class="container mt-5 text-center">
		<h1 class="display-2 mt-5 pt-5">404 Not Found</h1>
		<p class="pl-2"><a href="/" class="text-secondary">Go Home</a></p>
	</div>
</body>
</html>